@import 'normalize'

_background-image = url(../img/group.png)
_background-projects = url(../img/projects-bg.jpg)
_background-contact = url(../img/contact-bg.jpg)
_background-project-1 = url(../img/on-sale-bg.jpg)
_background-footer = url(../img/group-11.png)

_green = #61bb46
_green_light = #8fc73e
_gray_dark = #303030
_gray_medium = #4a4a4a
_gray_light = #9b9b9b
_gray_soft = #d8d8d8
_white = #FFFFFF

body
  font-family 'Roboto', sans-serif
  font-size 16px
body, html
  height 100%
.section
  padding 2em 0em
/**
  nav-bar
*/
.desktop-nav
  display none
.mobile-nav
  position fixed
  bottom 0
  display block
  width 100%
  background _white
  box-shadow 0 -2px 5px 0 rgba(0, 0, 0, 0.2)
  z-index 100
  ul
    display flex
    margin 0
    padding 0
    li
      flex-grow 1
      list-style none
      text-align center
      font-size 14px
      font-weight 300
      opacity 0.3
    .active
      opacity 1
    a
      padding 1em 0
      color _gray_dark
      text-decoration none
      display block

/**
  about-us
*/
.about-us
  width 100%
  z-index 1
  background-image _background-image
  margin 0
  background-size cover
  text-align center
  background-position center center
  &__box
    display flex
    height 100vh
    z-index: 80
  &__wrapper
    display flex
    justify-content center
    flex-wrap wrap
    height 400px
    margin 4em auto
  &__logo
    text-align center
    margin 0
    img
      width 242px
      height 110px
  &__text
    text-align center
  &__title
    font-size 30px
    max-width 402px
    font-weight 300
    display block
    width 70%
    margin 0 auto 50px auto
  &__button
    text-align center
    a
      display block
      width 300px
      text-align center
      text-decoration none
      padding 1em
      border-radius 10px
      background-image linear-gradient(to bottom, #8fc73e, #61bb46)
      box-shadow 2px 2px 5px 0 rgba(0, 0, 0, 0.3)
      border none
      color white
      margin 0 auto
      font-weight 300
.social-network
  display flex
  justify-content flex-end
  padding .7em
  &__logo
    align-content flex-end
    margin .3em
.arrow-down
  width 25px
  position absolute
  bottom 4em
  left 50%
  margin -15px 0 0 -12px

/**
  our-projects
*/
.our-projects
  width 100%
  z-index 1
  background-image _background-image
  margin 0
  background-size cover
  text-align center
  background-position center center
  position relative
  &__box
    display flex
    height 75vh
  &__wrapper
    display flex
    justify-content center
    flex-wrap wrap
    height 400px
    margin 4em auto
  &__text
    text-align center
  &__title
    font-size 55px
    font-weight 300
    display block
    min-width 304px
    max-width 485px
    margin 30px auto 50px auto
    line-height 1.04
    color _white
/**
  about-project
*/
.about-project
  background-color white
  .align
    display flex
    flex-direction column
.project
  background-image _background-project-1
  height auto
  width 100%
  margin 0 auto
  background-size cover
  background-repeat no-repeat
  &__wrapper
    padding 2em 0 2em 0
  &__title
    margin 20px auto 10px auto
    color _white
    text-align center
    font-size 2em
    font-weight 300
    display block
    width 70%
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5)
  &__details
    color _gray_soft
    font-size 14px
    height: 50px
    overflow hidden
    max-width 400px
    display block
    text-align center
    width 80%
    margin 1em auto
  &__button
    text-align center
    margin 1em 0
    button
      width 180px
      height 45px
      border-radius 5px
      background-image linear-gradient(to bottom, #8fc73e, #61bb46)
      color _white
      margin 0
      font-weight 300
      font-size 14px
      border none

    button:hover
      background-image linear-gradient(to bottom, #8fc73e, #61bb46)
      box-shadow 1px 1px 7px 0 rgba(0, 0, 0, 0.4)
.circle
  width 144px
  height 144px
  border 5px solid _green
  border-radius 50%
  background-color blue
  margin 0 auto
  background-color rgba(0, 0, 0, 0.5)
  &__percent
    color _white
    text-align center
    font-size 2.7em
    font-weight 300
    margin-top 1em
    margin-bottom 0
  &__text
    color _white
    text-align center
    font-size 16px
    font-weight 100
    margin-top 0px

/*
* component circle
*/
svg
  width 23%
/**
/**
  component subtitles page
*/
.subtitle-box
  display flex
  margin 1em
  height 4em
  align-items center
  margin-bottom 1em
  &__text
    flex 1
    &--single
      flex 1
  &__title
    font-size 25px
    font-weight 300
    text-align center
    margin .5em 0
    padding-right .3em
  &__bar
    height .1em
    width 50%
    flex 1
    background-color _green_light
    &--double
      flex 2
/**
  divisor
*/
.bar
  height .15em
  width 95%
  background-color _green_light
  border none
/**
  about-built
*/
.about-built
  background-color _white
.built
  width 90%
  max-width 433px
  min-width: 340px
  height 312px
  background: _white
  margin 1em auto
  box-shadow 3px 3px 3px 0 rgba(0, 0, 0, 0.3)
  &__wrap
    display flex
  &__image
    flex-grow 1
  &__figure
    margin 0
    width 179px
    img
      width 100%
  &__description
    padding .5em 0
  &__subtitle
    margin .3em .5em
    text-align left
    font-size 30px
    font-weight 300
  &__text
    margin 0 0 0 1em
    text-align left
    font-size 1em
    width 90%
    height 110px
    display block
    font-weight 300
  &__button
    margin .8em
    button
      width 100%
      height 45px
      border none
      border-radius 5px
      background-image linear-gradient(to bottom, #8fc73e, #61bb46)
      color _white
      margin 0
      font-weight 300
      font-size .9em
  &__state
    text-align center
    margin 1.5em 1em
    font-size .8em
    font-weight 300
    color _green

/**
  project-built
*/
.project-built
  width 100%
/**
  about-gallery
*/
.parent
  display flex
  width 90%
  margin 0 auto
  flex-wrap wrap
.work
  margin 0 auto
  &__figure
    margin .5em
  &__img
    width 100%
/**
  form
*/
.ask-us
  max-width 19em
  margin 0 auto
  &__form
    margin 1.5em 0
    text-align left
  &__label
    font-size 12px
    font-weight 400
    text-align left
    letter-spacing 0
    color _green_light
  input, textarea
    width 100%
    border solid 1px _gray_soft
    height 36px
    border-radius 3px
    margin 0 0 1em 0
  textarea
    height 4em
  ::placeholder
    font-size 14px
    padding 0 0 0 0.5em
    color _gray_soft
  &__button
    text-align center
    display block
    margin .5em auto
    width 100%
    height 45px
    border none
    border-radius 5px
    background-image linear-gradient(to bottom, #8fc73e, #61bb46)
    color _white
    font-weight 300
    font-size 1em
/**
  Footer
*/
.about-footer
  width 100%
  height 192px
  background-image _background-footer
  margin 0 0 45px 0
  padding 0
  background-size cover
  text-align center
  position relative
  &__logo
    margin 0
    position absolute
    bottom 1em
    left 1em
    img
      width 149px
      height 68px
  &__box
    width 700px
    height 100px
/**
Projects view
*/
.projects-view
  width 100%
  height 475px
  z-index 1
  background-image _background-projects
  margin 0
  background-size cover
  text-align center
  background-position center middle
  &__box
    display flex
    height 75vh
  &__wrapper
    display flex
    justify-content center
    flex-wrap wrap
    height 400px
    margin 0em auto
  &__text
    text-align center
  &__title
    font-size 55px
    font-weight 300
    display block
    margin 190px auto 50px auto
    color _white
.project-list
  margin -100px auto 0 auto
  display flex
  text-align: center
  flex-direction column
  .align
    margin 0 auto
    width 100%
.projects-container
  display flex
  flex-direction column
  width 1024px
  .built
    &__figure
      text-align: left

/**
  Contact View
*/
.contact-view
  width 100%
  height 475px
  z-index 1
  background-image _background-contact
  margin 0
  background-size cover
  text-align center
  background-position center middle
  &__box
    display flex
    height 75vh
  &__wrapper
    display flex
    justify-content center
    flex-wrap wrap
    height 400px
    margin 0em auto
  &__text
    text-align center
  &__title
    font-size 55px
    font-weight 300
    display block
    margin 190px auto 50px auto
    color _white
.contact-info
  background-color _white
  width 100%
  display block
  margin -100px auto 6em auto
  max-width 1024px
  box-shadow 4px 4px 8px 0 rgba(0, 0, 0, 0.2)
  border-radius 5px
  .align
    display flex
    flex-direction column
    .info-container
      flex 1
.information
  margin 1em 1em 5em 1em
  &__subtitle
    color _green_light
    margin-bottom 0
    font-weight 300
  &__bar
    height 2px
    width 100%
    background-color _green_light
    border none
  &__text
    margin .5em
    font-weight 300

@media only screen and (min-width: 1000px)
  .align
    margin 0 auto

@media only screen and (min-width: 550px)
  .align
    max-width 1024px
    text-align center
  .subtitle-box
    &__text
      flex 0
    &__title
      text-align left
  /**
    desktop-nav
  */
  .desktop-nav
    display block
    background rgba(255,255,255,0.8)
    box-shadow 1px 1px 4px rgba(0,0,0,0.3)
    position fixed
    width 100%
    height 51px
    z-index: 90
    .logo
      position absolute
      left 13px
      top 10px
    ul
      margin 0
      padding 0
      position absolute
      right 0
      li
        display inline-block
        vertical-align middle
        a
          opacity 0.6
          display block
          font-size 13px
          padding 10px 23px 13px 23px
          color _gray_medium
          text-decoration: none
          font-weight: 300
        .active
          opacity: 1
          border-bottom solid 3px _green
        .social-network
          &__logo
            padding 10px 5px
  /**
    mobile-nav
  */
  .mobile-nav
    display none
  .social-network
    display none
  /**
    about-us
  */
  .about-us
    &__box
      flex-direction column
    &__wrapper
      width 500px
      height 380px
      position absolute
      top 50%
      left 50%
      margin -190px 0 0 -250px
    &__button
      margin 15px auto 0 auto
      text-align left
    &__text
      text-align center
    &__title
      width auto
      font-size 40px
      margin 0
      text-align center
    &__button
      a
        margin 30px auto

  .project
    height auto
  /**
    about-project
  */
  .about-project
    .align
      display flex
      flex-direction row
      width 100%
      max-width 100%
    .project
      width 100%
      background-position bottom
  /**
    about-built
  */
  .about-built
    .built
      display inline-block
      margin 10px
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5)
  .project-built
    .built
      display inline-block
      margin 10px
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5)

  .project-list
    flex-direction: row
  .project-list
    margin -100px auto 0 auto
    display flex
    text-align: center
    .align
      margin 0 auto
      max-width 1024px
    .bar
      max-width 895px
  /**
    Footer
  */
  .about-footer
    margin 0

  .projects-container
    display flex
    justify-content center
    flex-wrap wrap
    flex-direction row
    text-align center
    max-width 1024px
    margin 0 auto 6em auto
    .built
      margin 1em
      &__figure
        text-align: left


  .contact-info
    width 100%
    display block
    margin -100px auto 6em auto
    max-width 1024px
    box-shadow 4px 4px 8px 0 rgba(0, 0, 0, 0.2)
    border-radius 5px
    .align
      display flex
      flex-direction row
      justify-content center
      max-width: 800px
      .info-container
        flex 1
        text-align left
        margin 0 1em

  .information
    margin 1em 1em 5em 1em
    &__subtitle
      color _green_light
      margin-bottom 0
      font-weight 300
    &__bar
      height 2px
      width 100%
      background-color _green_light
      border none
    &__text
      margin .5em
      font-weight 300
      color _gray_medium
